@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu Sa Beginner';
}

body {
    background-color: #F8F8F8;
}

header {
    background-color: #72FF5C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    font-size: 25px;
}

#logo > img {
    width: 466px;
    height: 326px;
}

span {
    font-size: 25px;
    color: #F8F8F8;
}

span:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 50px;
    align-self: flex-end;
    margin-bottom: 30px;
    margin-right: 200px;
}

nav > a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 40px;
}

a:hover {
    text-decoration: underline;
}

#profile {
    display: flex;
    align-items: center;
    font-size: 40px;
    flex-direction: column;
}

#profile > a > img {
    width: 150px;
    height: 127px;
}

#banner {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#banner > img {
    width: 1500px;
    height: 450px;
}

p {
    color: #FF0000;
    text-align: center;
    font-size: 40px;
}

#meet {
    display: flex;
    justify-content: center;
}

#meet > img {
    width: 533px;
    height: 267px;
    margin-top: 150px;
}

section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    background-color: #E9E9E9;
    width: 350px;
    height: 550px;
    border-radius: 40px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.img-cand {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-top: 30px;
}

.card-info {
    width: 300px;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;
    justify-content: space-between;
}

.card-info > h3 {
    font-size: 25px;
    color: #000000;
    text-align: left;
}

.card-info > p {
    font-size: 25px;
    color: #3C3C3C;
}

.card-info .price {
    font-size:30px;
    color: #000000;
    text-align: right;
    margin-top: auto;
}

.container {
    background-color: #E9E9E9;
    width: 620px;
    border-radius: 20px;
    padding: 50px;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container > h2 {
    color: #042801;
    margin-bottom: 30px;
    font-size: 48px;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    width: 100%;
}

.forms-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms-group > input {
    width: 100%;
    padding: 18px 22px;
    border: none;
    border-radius: 30px;
    background-color: #F8F8F8;
    font-size: 20px;

}

.forms-group > label {
    font-size: 22px;
    margin-bottom: 8px;
    color: #7D7D7D;
}

.forms-group > textarea {
    width: 100%;
    padding: 18px 22px;
    border: none;
    border-radius: 20px;
    background-color: #F8F8F8;
    font-size: 20px;
    height: 160px;
}

#formulario > button {
    background-color: #F87171;
    color: white;
    border: none;
    padding: 18px 60px;
    border-radius: 40px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

#formulario > button:hover {
    background-color: #ef4444;
}

#footer {
    background-color: #65CE54;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    margin-top: 60px;
    height: 300px;
    width: 100%;
}

#footer-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #F8F8F8;
    font-size: 18px;
}

#footer-left > strong {
    font-size: 30px;
    color: #F8F8F8;
}

#footer-center {
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: #F8F8F8;
    font-size: 18px;
}

#footer-title {
    font-size: 30px;
}

#footer-right {
    display: flex;
    gap: 40px;
    align-self: flex-end;
}

#footer-right > a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 20px;
}

#footer-right > a:hover {
    text-decoration: underline;
}
